*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;

}
.title_page{
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    padding: 15px;
}
.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;

}
.label{
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: bold;

}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}
.input_group{
    background-color: #7C7DDF;
    width: 280px;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
.gender_select{
    position: relative;
    width: 200px;
    padding: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
option{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.subtitle{
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 30px;

}
.btn_submit{
    position: relative;
    width: 200px;
    padding: 15px;
    background-color: #163D8B;
    left: 20px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.btn_senha{
    position: relative;
    padding: 5px;
    left: 10px;
}